flows.json
[{"id":"8f278fd7.785aa","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"d5746bb6.bfec38","type":"ui_chart","z":"8f278fd7.785aa","name":"","group":"76e28fe6.cf228","order":1,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#6b04d2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":2480,"wires":[[]]},{"id":"78f14596.381bac","type":"http request","z":"8f278fd7.785aa","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"https://www.mercadobitcoin.net/api/eth/ticker","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":2480,"wires":[["9e93378c.8b4fa8"]]},{"id":"fd250c40.f05e1","type":"inject","z":"8f278fd7.785aa","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":2480,"wires":[["456d9639.c99c78"]]},{"id":"9e93378c.8b4fa8","type":"change","z":"8f278fd7.785aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ticker.last","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2480,"wires":[["d5746bb6.bfec38","87b60e33.6cb75","ea01e80f.262c78"]]},{"id":"7d2e903d.b4058","type":"inject","z":"8f278fd7.785aa","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":2580,"wires":[["b6080ae9.d1e9c8"]]},{"id":"722db323.ae9cec","type":"http request","z":"8f278fd7.785aa","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.coindesk.com/v1/bpi/currentprice/BRL.json","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":2580,"wires":[["b2c90d7b.e18ae"]]},{"id":"b2c90d7b.e18ae","type":"change","z":"8f278fd7.785aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bpi.BRL.rate_float","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2580,"wires":[["c61b0c0e.4a72c","444f78bc.2847f8","d53062db.35077"]]},{"id":"c61b0c0e.4a72c","type":"ui_chart","z":"8f278fd7.785aa","name":"","group":"c1e7c452.23fd48","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7700","#aec7e8","#ff7700","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":2580,"wires":[[]]},{"id":"87b60e33.6cb75","type":"ui_text","z":"8f278fd7.785aa","group":"76e28fe6.cf228","order":2,"width":0,"height":0,"name":"","label":"Preço ETHEREUM","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":2400,"wires":[]},{"id":"b6080ae9.d1e9c8","type":"trigger","z":"8f278fd7.785aa","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":590,"y":2580,"wires":[["722db323.ae9cec"]]},{"id":"456d9639.c99c78","type":"trigger","z":"8f278fd7.785aa","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":590,"y":2480,"wires":[["78f14596.381bac"]]},{"id":"ea01e80f.262c78","type":"debug","z":"8f278fd7.785aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":2380,"wires":[]},{"id":"444f78bc.2847f8","type":"debug","z":"8f278fd7.785aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":2680,"wires":[]},{"id":"d53062db.35077","type":"ui_text","z":"8f278fd7.785aa","group":"c1e7c452.23fd48","order":2,"width":0,"height":0,"name":"","label":"Preço BITCOIN","format":"{{msg.payload}}","layout":"row-spread","x":1320,"y":2640,"wires":[]},{"id":"1da0a72b.11a5f9","type":"inject","z":"8f278fd7.785aa","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":400,"wires":[["de276043.9077c"]]},{"id":"7ad0c85f.f1cfd8","type":"http request","z":"8f278fd7.785aa","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"localhost/ajaxdados/temperaturasendjson.php","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":400,"wires":[["fe262127.f8759"]]},{"id":"7e0bb83c.954488","type":"change","z":"8f278fd7.785aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.Estacao.temperatura)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":400,"wires":[["e98b5b3e.8c9df8"]]},{"id":"fe262127.f8759","type":"json","z":"8f278fd7.785aa","name":"","property":"payload","action":"obj","pretty":true,"x":630,"y":400,"wires":[["7e0bb83c.954488"]]},{"id":"e98b5b3e.8c9df8","type":"debug","z":"8f278fd7.785aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":520,"wires":[]},{"id":"1d72bf48.6a18d1","type":"switch","z":"8f278fd7.785aa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"37.6","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":640,"wires":[["d147a5c5.1b68e8","7dafb2b2.bb1d3c"],["1c0c9878.a1adb8","1becf30d.3688dd"]]},{"id":"1c0c9878.a1adb8","type":"change","z":"8f278fd7.785aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sem Febre","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":640,"wires":[["29205a79.5d9ec6"]]},{"id":"29205a79.5d9ec6","type":"ui_text","z":"8f278fd7.785aa","group":"454bc428.129c7c","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1110,"y":620,"wires":[]},{"id":"d147a5c5.1b68e8","type":"change","z":"8f278fd7.785aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Febre","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":600,"wires":[["29205a79.5d9ec6"]]},{"id":"f38d8cef.d0b7f","type":"ui_text","z":"8f278fd7.785aa","group":"454bc428.129c7c","order":5,"width":0,"height":0,"name":"","label":"Acesso:","format":"{{msg.payload}}","layout":"row-spread","x":1460,"y":740,"wires":[]},{"id":"de276043.9077c","type":"trigger","z":"8f278fd7.785aa","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-10","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":310,"y":400,"wires":[["7ad0c85f.f1cfd8"]]},{"id":"7dafb2b2.bb1d3c","type":"change","z":"8f278fd7.785aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":720,"wires":[["ff6c3148.0583b"]]},{"id":"1becf30d.3688dd","type":"change","z":"8f278fd7.785aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":780,"wires":[["ff6c3148.0583b"]]},{"id":"fca364b2.a5a6a8","type":"ui_template","z":"8f278fd7.785aa","group":"84c5d499.199b08","name":"STREAM","order":0,"width":"12","height":"8","format":"<iframe\n  src=\"http://45.79.207.34:8080/embed/video\"\n  title=\"Owncast\"\n  height=\"380px\" width=\"600px\"\n  referrerpolicy=\"origin\"\n  scrolling=\"no\"\n  allowfullscreen>\n</iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1840,"y":540,"wires":[[]]},{"id":"78a299a3.1d3ff8","type":"http request","z":"8f278fd7.785aa","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"http://45.79.207.34:8080/api/chat","tls":"","persist":true,"proxy":"","authType":"bearer","x":450,"y":1340,"wires":[["2043092b.fb11c6"]]},{"id":"805b44fe.d8f9b8","type":"debug","z":"8f278fd7.785aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":1280,"wires":[]},{"id":"c1642ef4.172e9","type":"exec","z":"8f278fd7.785aa","command":"curl -X POST -H \"Content-Type: application/json\" -H \"Authorization: Bearer 0L2jd-3Owao7pp0PD8XOr8pajPtNB8MrCdd10l87RAs=\" -d '{\"body\": \"Mascara\"}' http://45.79.207.34:8080/api/integrations/chat/system","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1360,"y":2240,"wires":[[],[],[]]},{"id":"2043092b.fb11c6","type":"json","z":"8f278fd7.785aa","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1340,"wires":[["9b4bec0.7d1eb18"]]},{"id":"9b4bec0.7d1eb18","type":"function","z":"8f278fd7.785aa","name":"","func":"p=JSON.parse(msg.payload);\n//p=msg.payload;\nlast = p.pop()\n\nif (last.author == \"Owncast\"){\n    msg.payload = last.body.substring(3, last.body.length-5)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1300,"wires":[["a0a9fdf8.d54d"]]},{"id":"44ec4016.c8cf3","type":"ui_text","z":"8f278fd7.785aa","group":"454bc428.129c7c","order":4,"width":0,"height":0,"name":"","label":"Sensor","format":"{{msg.payload}}","layout":"row-spread","x":1520,"y":1220,"wires":[]},{"id":"d4ce326b.7395c","type":"function","z":"8f278fd7.785aa","name":"","func":"setTimeout(function () {\n        if (last.timestamp == starttime && last.author == \"Owncast\"){\n\n            last.body = \"Nao detectado\";\n             msg.payload = last.body;\n             node.send(msg)\n        }\n    }, 6000);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1960,"wires":[[]]},{"id":"de4d3467.f9de78","type":"http request","z":"8f278fd7.785aa","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"http://45.79.207.34:8080/api/chat","tls":"","persist":true,"proxy":"","authType":"bearer","x":330,"y":1500,"wires":[["9292ab50.2434b8"]]},{"id":"9292ab50.2434b8","type":"json","z":"8f278fd7.785aa","name":"","property":"payload","action":"","pretty":false,"x":510,"y":1500,"wires":[["156efedd.a34a11"]]},{"id":"1ea642a5.d5513d","type":"function","z":"8f278fd7.785aa","name":"","func":"p=JSON.parse(msg.payload);\n//p=msg.payload;\nlast = p.pop()\n\nif (last.author == \"Owncast\"){\n    msg.payload = last.timestamp\n    node.send(msg)\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1600,"wires":[["9d5a0200.fdc7e"]]},{"id":"156efedd.a34a11","type":"function","z":"8f278fd7.785aa","name":"","func":"p=JSON.parse(msg.payload);\n//p=msg.payload;\nlast = p.pop()\n\nif (last.author == \"Owncast\"){\n    msg.payload = last.timestamp\n    node.send(msg)\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1480,"wires":[["9d5a0200.fdc7e"]]},{"id":"a0f96607.b1a3d8","type":"json","z":"8f278fd7.785aa","name":"","property":"payload","action":"","pretty":false,"x":510,"y":1580,"wires":[["1ea642a5.d5513d"]]},{"id":"60ff5846.6e6828","type":"http request","z":"8f278fd7.785aa","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"http://45.79.207.34:8080/api/chat","tls":"","persist":true,"proxy":"","authType":"bearer","x":330,"y":1580,"wires":[["a0f96607.b1a3d8"]]},{"id":"45fce6f.5c88918","type":"switch","z":"8f278fd7.785aa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":1540,"wires":[["de4d3467.f9de78"],["60ff5846.6e6828"]]},{"id":"35ab9a9f.7440c6","type":"trigger","z":"8f278fd7.785aa","name":"","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":140,"y":1440,"wires":[["45fce6f.5c88918"]]},{"id":"79dc8bf6.565c94","type":"inject","z":"8f278fd7.785aa","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1320,"wires":[["35ab9a9f.7440c6","78a299a3.1d3ff8","32501b63.36a004"]]},{"id":"c9467bd4.09eac8","type":"inject","z":"8f278fd7.785aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":2240,"wires":[["c1642ef4.172e9"]]},{"id":"9d5a0200.fdc7e","type":"join","z":"8f278fd7.785aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":1540,"wires":[["13d3af9a.63e02"]]},{"id":"13d3af9a.63e02","type":"function","z":"8f278fd7.785aa","name":"","func":"p= msg.payload\n//p=msg.payload;\n\nif (p[0] == p[1]){\n    msg.payload = \"Nao detectado\"\n    return msg\n}else{\n    \n    msg.payload = \"Detectado\"\n    return msg\n    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1520,"wires":[["a0a9fdf8.d54d"]]},{"id":"32501b63.36a004","type":"http request","z":"8f278fd7.785aa","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"http://45.79.207.34:8080/api/status","tls":"","persist":true,"proxy":"","authType":"bearer","x":450,"y":1280,"wires":[["724966ba.7a7678"]]},{"id":"3d47b3a8.ed228c","type":"function","z":"8f278fd7.785aa","name":"","func":"p=JSON.parse(msg.payload);\n//p=msg.payload;\n\nif (p.online == false){\n    \n    msg.payload= \"Offline\"\n    \n}else{\n    msg.payload = \"Online\"}\n    \nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1200,"wires":[["a0a9fdf8.d54d","a7f8eb3f.508f38"]]},{"id":"724966ba.7a7678","type":"json","z":"8f278fd7.785aa","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1260,"wires":[["3d47b3a8.ed228c"]]},{"id":"a53bfe09.68ba9","type":"function","z":"8f278fd7.785aa","name":"","func":"p= msg.payload\n\nif (p == \"Offline\"){\n    \n    msg.payload = \"Offline\";\n    node.send(msg)\n}\nelse if (p == \"Nao detectado\"){\n    \n    msg.payload = \"Nao detectado\";\n    node.send(msg)\n    \n}else{\n    node.send(msg)\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1960,"wires":[[]]},{"id":"a0a9fdf8.d54d","type":"join","z":"8f278fd7.785aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1160,"y":1360,"wires":[["a7f8eb3f.508f38"]]},{"id":"a7f8eb3f.508f38","type":"function","z":"8f278fd7.785aa","name":"","func":"p= msg.payload\nif (p.includes(\"Offline\") == true){\n    msg.payload = \"Offline\";\n    node.send(msg);\n}\nelse if (p.includes(\"Nao detectado\") == true){\n    \n    msg.payload = \"Nao detectado\";\n    node.send(msg);\n    \n}else{\n    \n    if(p.includes(\"Mascara\") == true){\n    msg.payload = \"Mascara\";    \n    node.send(msg);\n    }\n    else if(p.includes(\"Sem Mascara\") == true){\n    msg.payload = \"Sem Mascara\";    \n    node.send(msg);\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":1260,"wires":[["805b44fe.d8f9b8","44ec4016.c8cf3","684cb14a.b9fbb"]]},{"id":"364d137c.3329ac","type":"ui_slider","z":"8f278fd7.785aa","name":"","label":"","tooltip":"","group":"454bc428.129c7c","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"36","max":"41","step":"0.1","x":1170,"y":320,"wires":[["4bd51374.4ce6ac","1d72bf48.6a18d1"]]},{"id":"4bd51374.4ce6ac","type":"ui_gauge","z":"8f278fd7.785aa","name":"","group":"454bc428.129c7c","order":2,"width":"0","height":"0","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":"36","max":"41","colors":["#00b500","#e6e600","#ca3838"],"seg1":"37.6","seg2":"39.6","x":1470,"y":320,"wires":[]},{"id":"684cb14a.b9fbb","type":"function","z":"8f278fd7.785aa","name":"","func":"p= msg.payload\nif (p == \"Offline\"){\n    msg.payload = 0;\n    node.send(msg);\n}\nelse if (p == \"Não detectado\"){\n    \n    msg.payload = 0;\n    node.send(msg);\n    \n}else{\n    \n    if(p == \"Mascara\"){\n    msg.payload = 1;    \n    node.send(msg);\n    }\n    else if(p == \"Sem Mascara\"){\n    msg.payload = 0;    \n    node.send(msg);\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":860,"wires":[["ff6c3148.0583b"]]},{"id":"ff6c3148.0583b","type":"join","z":"8f278fd7.785aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":850,"y":760,"wires":[["766f4053.6c796","a61767c5.e916b8"]]},{"id":"a61767c5.e916b8","type":"function","z":"8f278fd7.785aa","name":"","func":"p= msg.payload\nif (p[0] && p[1] == [1,2] || p[0] && p[1] == [2,1] ){\n    msg.payload = \"Acesso Negado\";\n    node.send(msg);\n}\nelse{\n    msg.payload = \"Acesso Negado\";    \n    node.send(msg);\n    }\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":760,"wires":[["f38d8cef.d0b7f","75e5ebe7.8f2284"]]},{"id":"766f4053.6c796","type":"debug","z":"8f278fd7.785aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":860,"wires":[]},{"id":"75e5ebe7.8f2284","type":"debug","z":"8f278fd7.785aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":860,"wires":[]},{"id":"76e28fe6.cf228","type":"ui_group","name":"Ethereum","tab":"64cdeb4b.815004","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1e7c452.23fd48","type":"ui_group","name":"Bitcoin","tab":"64cdeb4b.815004","order":3,"disp":true,"width":"6","collapse":false},{"id":"454bc428.129c7c","type":"ui_group","name":"Controle de Acesso","tab":"170b0762.77d0e9","order":2,"disp":true,"width":"6","collapse":false},{"id":"84c5d499.199b08","type":"ui_group","name":"Camera","tab":"170b0762.77d0e9","order":2,"disp":true,"width":"13","collapse":false},{"id":"64cdeb4b.815004","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"170b0762.77d0e9","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]